doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://d3js.org/d3.v3.min.js')
    script(src='https://d3js.org/d3-dsv.v1.min.js')
    script(src='https://d3js.org/d3-collection.v1.min.js')

    script(src='/javascripts/chart1.js')
  body
    block content
